#expertise .therapist {
  display: grid;
  grid-template-areas: "intro" "image";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: var(--primary-color);
}
#expertise h2 {
  color: var(--font-navy);
}
#expertise .therapist p {
  color: var(--font-navy);
  margin: 1rem 0;
  font-weight: 700;
}
#expertise aside {
  display: flex;
  justify-content: center;
  align-items: center;
}
#expertise .main-therapist img {
  width: 327px;
  height: 478px;
  border-radius: 10px;
}
