#index .main-heading {
  text-align: center;
  padding: 2rem 10rem;
  color: var(--font-navy);
}

@media screen and (max-width: 1000px) {
  #index .main-heading {
    padding: 2rem 1rem;
  }
  #index .main-roads-web {
    display: none;
  }
  #index .main-roads-mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 750px) {
  #index .main-heading {
    font-size: 1.2rem;
    padding: 1.2rem 0.5rem;
  }
}
